# MongoDB Atlas Connection URI Example (Replace <db_password> in your local secret .env file)
MONGODB_URI=mongodb+srv://root:<db_password>@cluster0.cz7zd2m.mongodb.net/web_api_dev?retryWrites=true&w=majority&appName=Cluster0
